@import "settings";
@import "foundation";

$brandBg: #f3f3f3;

@font-face {
  font-family: 'nymphetteregular';
  src: url('../fonts/nymphette/Nymphette-webfont.eot');
  src: url('../fonts/nymphette/Nymphette-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/nymphette/Nymphette-webfont.woff') format('woff'),
       url('../fonts/nymphette/Nymphette-webfont.ttf') format('truetype'),
       url('../fonts/nymphette/Nymphette-webfont.svg#nymphetteregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	background: $brandBg;
}

ul, li { list-style: none; padding: 0; margin: 0; }

#header {
	div{
		#toggle {
			cursor: pointer!important;
			position: relative;
			top: 46px;
		}
	}
}

nav {
	ul {
		display: block;
		padding: 12px 0;
		li {
			border-left: 1px solid #444444;
			padding: 0 4px 0 10px;
			display: inline-block;
			a {
				font-size: 1.1em;
				color: #444444;
				text-transform: uppercase;
			}
		}
		li.sep {
			border-left: 1px solid #444444; 
			margin-left: 15px; 
			padding-left: 10px;
		}
		li.first {
			border: none;
		}
		li.last {
			a {
				color: #6a8f56;
			}
		}
	}
}

#feature {
	h2 {
		text-transform: uppercase;
		font-size: 1.6em;
	}
	h2:before {
		font-family: 'nymphetteregular';
		content:"K";
		display: inline-block;
    	-moz-transform: scale(-1, 1); 
    	-webkit-transform: scale(-1, 1);  
    	transform: scale(-1, 1); 
	}
	h2:after {
		font-family: 'nymphetteregular';
		content: "K";
	}
	h3 {
		text-transform: uppercase;
		font-size: 1.2em;
	}
}

#ads {
	.large-6 {
		#adLeft {
			background: url('../img/ad01.jpg');
			background-position: center center;
			height: 285px;
		}
		#adRight {
			background: url('../img/ad02.jpg');
			background-position: center center;
			height: 285px;
		}
		img {
			position: relative; 
		}
		h4 {
			position: relative;
			top: -63px;
			background: rgba(0,0,0,0.5);
			color:#ffffff;
			font-weight: normal;
			padding: 14px;
		}
	}
}

.desktop { display: block; }
.mobile { display: none; }

@media only screen and (max-width: 40em) {
	nav {
		ul {
			display: none;
			li {
				display: block;
				border: none;
			}
		}
	}
	#feature {
		h2 {
			text-transform: uppercase;
			font-size: 1.6em;
		}
	}
	.desktop { display: none; }
	.mobile { display: block; }
}

img.no-resize { max-width: none; }
img.fullwidth { width: 100%; }

.hide { display: none; }

.seperator { background: url(../img/seperator-rpt.jpg) repeat-x; height: 7px; margin: 12px 0; }

